<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Shared Diary</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		html,body {
			height: 100%;
		}
		
		body.my-login-page {
			background-color: #f7f9fb;
			font-size: 14px;
		}
		
		
		.my-login-page .card-wrapper {
			width: 400px;
		}
		
		.my-login-page .card {
			border-color: transparent;
			box-shadow: 0 4px 8px rgba(0,0,0,.05);
		}
		
		.my-login-page .card.fat {
			padding: 10px;
			margin-top: 44%;
		}
		
		.my-login-page .card .card-title {
			margin-bottom: 30px;
		}
		
		.my-login-page .form-control {
			border-width: 2.3px;
		}
		
		.my-login-page .form-group label {
			width: 100%;
		}
		
		.my-login-page .btn.btn-block {
			padding: 12px 10px;
		}
		
		.my-login-page .footer {
			margin: 40px 0;
			color: #888;
			text-align: center;
		}
		
		.my-login-page .highlight {
			font-weight: 700;
			color: #f33f3f;
		}
		@media screen and (max-width: 425px) {
			.my-login-page .card-wrapper {
				width: 90%;
				margin: 0 auto;
			}
		}
		
		@media screen and (max-width: 320px) {
			.my-login-page .card.fat {
				padding: 0;
			}
		
			.my-login-page .card.fat .card-body {
				padding: 15px;
			}
		}
	</style>
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Shared Diary</h4>
							<form method="POST">
								<div class="form-group">
									<label for="username">Username</label>
									<input id="username" type="username" class="form-control" name="username" value="" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">Password
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								</div>
								<div class="highlight">
									<% if (message) { %>
										<%= message %>
											<% } %>
								</div>
								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Vidar-Team 
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>